.home-hero .content-main {
  margin-left: 4vw;
  width: 800px;
}

.home-hero {
  margin-top: 15vh;
  padding-bottom: 26vh;
}

.home-hero .name {
  margin-bottom: 0;
}

@media only screen and (max-width: 820px) {
  .home-hero .content {
    margin-left: 4vw;
    margin-right: 4vw;

    width: 92vw;
    padding-top: 12em;
    padding-bottom: 3em;
  }
}
